@{
    ViewData["Title"] = "Change Password";
}


<div class="container">
    <div class="row justify-content-center align-items-center vw-100 h-75">
        <div class="col-md-5 d-flex flex-column text-center">
            <h2 class="px-8 pb-2 fw-bolder">Change Your Password</h2>
            <p class="px-8">Secure your account by updating your password:</p>

            <form asp-action="ChangePassword" asp-controller="Account" method="post" class="d-flex flex-column gap-2 align-items-center form-parent">
                <div class="form-group w-75  password-icon" id="ChgPass-lock">
                    <label for="currentPassword"><i class="bi bi-shield-lock-fill mx-1" ></i></label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control py-3 px-5" placeholder="Current Password" required />
                </div>

                <div class="form-group w-75 password-icon" id="newPass-lock">
                    <label for="newPassword"><i class="bi bi-shield-lock-fill mx-1"></i></label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control py-3 px-5" placeholder="New Password" required />
                </div>
              
                <button type="submit" class="btn btn-primary btn-block w-75  my-2 py-3">Change Password</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>