@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<div class="container">
    <div class="row justify-content-center vw-100">
        <div class="col-md-6 d-flex flex-column text-center">
            <i style="font-size:55px" class="bi bi-envelope-check-fill"></i>
            <h2 class="px-8 mb-2 fw-bolder">Check your email</h2>
            <p class="w-75 mx-auto my-1">
                We sent a password reset link to 
            </p>
            <p class="fw-bold pt-0">@ViewBag.Email</p>

            <button class="btn btn-primary btn-block w-75 my-4 py-3 text-center mx-auto" onclick="redirectToLink()">Open email app </button>

            <div class="d-flex m-auto justify-content-center ">
                <p class="my-0 align-content-center pe-1">Didn't receive the email? </p><a href="@Url.Action("ForgotPassword", "Account")" class="link-primary">Click to resend</a>
            </div>

            <div class="d-flex m-auto">
                <i style="font-size:25px;" class="bi bi-box-arrow-in-left d-flex pe-2 align-items-center"></i><a href="@Url.Action("Login", "Account")" class="login-back">Back to log in</a>
            </div>
            
        </div>
    </div>
</div>

<script>
    function redirectToLink(){
        window.location.href ="@Url.Action("ResetPassword", "Account")";
    }
</script>
