@{
    ViewData["Title"] = "ForgotPassword";
}
@model ForgotPasswordViewModel

<div class="container">
    <div class="row justify-content-center vw-100">
        <div class="col-md-6 d-flex flex-column text-center">
            <i style="font-size:55px" class="bi bi-building-lock"></i>
            <h2 class="px-8 mb-2 fw-bolder">Forgot password?</h2>
            <p class="w-75 mx-auto">
                No worries, we'll send you reset instructions
            </p>

            <form asp-action="ForgotPassword" class="form-parent" method="post">
           
                <div class="form-group w-75 mx-auto">
                    <label for="email"><i class="bi bi-envelope-at-fill mx-1"></i></label>
                    <input type="email" class="form-control py-3 px-5 m-auto" id="email" name="Email" asp-for="Email" required placeholder="Email" >
                    <span asp-validation-for="Email" style="opacity: 0.85; /* Set custom opacity */  /* Set blur effect */" class="text-danger d-inline-block mt-2"></span>
                </div>


                <button type="submit" class="btn btn-primary btn-block w-75 my-2 py-3">Reset Password</button>
            </form>

            <div class="d-flex mx-auto">
                <i style="font-size:25px;" class="bi bi-box-arrow-in-left d-flex pe-2 align-items-center"></i><a href="@Url.Action("Login", "Account")" class="login-back">Back to log in</a>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var emailInput = document.getElementById("email");
        var validationMessage = document.querySelector('.text-danger');

        emailInput.addEventListener("focus", function() {
            validationMessage.style.display="none";
        });

        emailInput.addEventListener("blur", function() {
            if (!emailInput.value) {
                validationMessage.style.display = "block";
            }
        });
    });
</script>

