

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">
    <div class="row justify-content-center align-items-center vw-100">
        <div class="col-md-6 d-flex flex-column text-center">
            <i style="font-size:55px;"class="bi bi-keyboard py-2 my-0 d-flex justify-content-center"></i>
            <h2 class="px-8 pb-2 fw-bolder">Set new password</h2>
            <p class="px-8 w-75 mx-auto">Your new password must be different to previously used passwords</p>
            
            <form asp-action="ResetPassword" class="d-flex flex-column gap-2  align-items-center form-parent">
                
                <div class="form-group w-75">
                    <label for="password"><i class=" bi bi-shield-lock-fill mx-1" id="forgot-password-icon"></i><i class="bi bi-eye-slash-fill" id="togglePassword"></i></label>
                    <input type="password" class="form-control py-3 px-5" id="password" placeholder="Password" required>
                    <p style="filter:grayscale();"class="d-flex align-items-start mx-auto pt-2 mb-0">Must be at least 8 Characters</p>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group w-75">
                    <label for="confirm-password"><i class=" bi bi-shield-lock-fill mx-1" id="forgot-password-conf-icon"></i><i class="bi bi-eye-slash-fill" id="toggleConfPassword"></i></label>
                    <input type="password" class="form-control py-3 px-5" id="confirm-password" placeholder="Confirm Password" required>
                    <span class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block w-75 my-4 py-3">Reset Password</button>
            </form>

            <div class="d-flex mx-auto">
                <i style="font-size:25px;" class="bi bi-box-arrow-in-left d-flex pe-2 align-items-center"></i><a href="@Url.Action("Login", "Account")" class="login-back">Back to log in</a>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const togglePassword = document.querySelector('#togglePassword');
        const toggleConfPassword = document.querySelector('#toggleConfPassword');
        const password = document.querySelector('#password');
        const confpassword = document.querySelector('#confirm-password');

           // For the first password field
    togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'text') {
            this.classList.replace('bi-eye-slash-fill', 'bi-eye-fill');
        } else {
            this.classList.replace('bi-eye-fill', 'bi-eye-slash-fill');
        }
    });

    // For the confirm password field
    toggleConfPassword.addEventListener('click', function () {
        const type = confpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confpassword.setAttribute('type', type);
        if (type === 'text') {
            this.classList.replace('bi-eye-slash-fill', 'bi-eye-fill');
        } else {
            this.classList.replace('bi-eye-fill', 'bi-eye-slash-fill');
        }
    });

    });
</script>
